h1 {
    text-align: center;
}
h1:hover {
    color: rgb(52, 129, 216);
    animation: rotate-center 0.6s ease-in-out both;
}

#list {
    text-align: center;
    margin-top: 1.5em;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

th,
td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #333;
}

tr:hover {
    background-color: #f5f5f5;
}

img {
    max-width: 100px;
    height: auto;
}

.add {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.onepoke {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 2em;
}

#pokemonInfo img {
    max-width: 300px;
    height: auto;
    margin-top: 1em;
}

#pokemonInfo p {
    font-size: 1.5em;
}
 @-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  